body, :root
{
  padding: 15px; 
}

#minefield {
  float: left;
  
  border: 3px solid rgb(194, 195, 204);
  margin-bottom: 15px;
  padding: 15px;
}

.new_game_btn{
  margin: 20px 0px;
  
}

#new_game_btn{
  padding: 10px;
font-weight: 700;
}

.row
{
  display: flex;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(194, 195, 204);
  padding: 5px 5px 5px 5px;

  background-color: rgb(223, 235, 236);

  text-align: center;
  line-height: 35px;
 
  cursor: pointer;
}

.cell::selection {
  background: transparent;
}
.opened, .flagged {
  cursor: default;
}
.opened {
  background-color: rgb(226, 225, 211);
  box-shadow: none;
}

/* .cell-1{
color: black;
}

.cell-2{
color: green;
} */


.cell-M {
  background-color: #f7bebe;
}

.flag {
   background-color: #f1fa76;
}

.status_msg {
  margin-bottom: 20px;
  font-size: 1.5rem;
}


.afterfield{
  display: block;
  content: "";
  clear: both;
}
